BasedOnStyle: LLVM
IndentWidth: 8
UseTab: Always
TabWidth: 8
BreakBeforeBraces: Linux
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
ColumnLimit: 100
IndentCaseLabels: false
IndentGotoLabels: false
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceAfterCStyleCast: false
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
PointerAlignment: Left
BinPackArguments: true
BinPackParameters: true
AllowAllParametersOfDeclarationOnNextLine: false
MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: false
IncludeBlocks: Preserve
SortIncludes: false
Cpp11BracedListStyle: false
AlwaysBreakAfterReturnType: TopLevel
AlwaysBreakAfterDefinitionReturnType: TopLevel
